<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raihan.stella">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.raihan.stella.model.GlobalVariable"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StockIn"
            android:exported="false" />
        <activity
            android:name=".activity.ProductMaster"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageUpload"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordChangeNew"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.raihan.stella.model.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.ReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewDashboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllTxnListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QRcodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DebitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.TransactionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatetmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TotalBalanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConditionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>